<div class="container">
  <div>
    <acme-navbar creation-date="main.creationDate"></acme-navbar>
  </div>



  <div class="jumbotron">
    <h1>Cognos Connection Setup</h1>
    <div class="form-group">
          <label class="pull-left">Report Server Type:</label>
          <input type="text" class="form-control ng-pristine ng-valid ng-valid-required ng-touched" ng-model="EssCognosSetup.ReportServerType">
    </div>
      <div class="form-group">
            <label class="pull-left">Cognos Report Server Name:</label>
            <input type="text" class="form-control ng-pristine ng-valid ng-valid-required ng-touched" ng-model="EssCognosSetup.CognosReportServerName">
      </div>
      <div class="form-group">
            <label class="pull-left">Cognos Report Server Port:</label>
            <input type="text" class="form-control ng-pristine ng-valid ng-valid-required ng-touched" ng-model="EssCognosSetup.CognosReportServerPort">
      </div>
      <div class="form-group">
            <label class="pull-left">Cognos AnonymousAccessAllowed:</label>
            <input type="text" class="form-control ng-pristine ng-valid ng-valid-required ng-touched" ng-model="EssCognosSetup.CognosAnonymousAccessAllowed">
      </div>
      <div class="form-group">
            <label class="pull-left">Cognos Default User Allowed:</label>
            <input type="text" class="form-control ng-pristine ng-valid ng-valid-required ng-touched" ng-model="EssCognosSetup.CognosDefaultUserAllowed">
      </div>
      <div class="form-group">
            <label class="pull-left">Cognos Default User Name:</label>
            <input type="text" class="form-control ng-pristine ng-valid ng-valid-required ng-touched" ng-model="EssCognosSetup.CognosDefaultUserName">
      </div>
      <div class="form-group">
            <label class="pull-left">Cognos Default User Password:</label>
            <input type="text" class="form-control ng-pristine ng-valid ng-valid-required ng-touched" ng-model="EssCognosSetup.CognosDefaultUserPassword">
      </div>
      <div class="form-group">
            <label class="pull-left">Cognos Default User Namespace:</label>
            <input type="text" class="form-control ng-pristine ng-valid ng-valid-required ng-touched" ng-model="EssCognosSetup.CognosDefaultUserNamespace">
      </div>
      <div class="form-group">
            <label class="pull-left">Cognos Primary Wait Threshold:</label>
            <input type="text" class="form-control ng-pristine ng-valid ng-valid-required ng-touched" ng-model="EssCognosSetup.CognosPrimaryWaitThreshold">
      </div>
      <div class="form-group">
            <label class="pull-left">Cognos Secondary Wait Threshold:</label>
            <input type="text" class="form-control ng-pristine ng-valid ng-valid-required ng-touched" ng-model="EssCognosSetup.CognosSecondaryWaitThreshold">
      </div>
      <div class="form-group">
            <label class="pull-left">Cognos Report Path Check Stub:</label>
            <input type="text" class="form-control ng-pristine ng-valid ng-valid-required ng-touched" ng-model="EssCognosSetup.CognosReportPathCheckStub">
      </div>
      <div class="form-group">
            <label class="pull-left">Cognos Bill Date Parm Name:</label>
            <input type="text" class="form-control ng-pristine ng-valid ng-valid-required ng-touched" ng-model="EssCognosSetup.CognosBillDateParmName">
      </div>
      <div class="form-group">
            <label class="pull-left">Cognos Bill Time Parm Name:</label>
            <input type="text" class="form-control ng-pristine ng-valid ng-valid-required ng-touched" ng-model="EssCognosSetup.CognosBillTimeParmName">
      </div>
      <div class="form-group">
            <label class="pull-left">Cognos Bill From Seq Parm Name:</label>
            <input type="text" class="form-control ng-pristine ng-valid ng-valid-required ng-touched" ng-model="EssCognosSetup.CognosBillFromSeqParmName">
      </div>
      <div class="form-group">
            <label class="pull-left">Cognos Bill To Seq Parm Name:</label>
            <input type="text" class="form-control ng-pristine ng-valid ng-valid-required ng-touched" ng-model="EssCognosSetup.CognosBillToSeqParmName">
      </div>
      <div class="form-group">
            <label class="pull-left">Cognos Account No Parm Name:</label>
            <input type="text" class="form-control ng-pristine ng-valid ng-valid-required ng-touched" ng-model="EssCognosSetup.CognosAccountNoParmName">
      </div>
      <div class="form-group">
            <label class="pull-left">Cognos Report Priority:</label>
            <input type="text" class="form-control ng-pristine ng-valid ng-valid-required ng-touched" ng-model="EssCognosSetup.CognosReportPriority">
      </div>
      <div class="form-group">
            <label class="pull-left">Cognos Ds Name:</label>
            <input type="text" class="form-control ng-pristine ng-valid ng-valid-required ng-touched" ng-model="EssCognosSetup.CognosDsName">
      </div>
      <div class="form-group">
            <label class="pull-left">Cognos Ds Conn:</label>
            <input type="text" class="form-control ng-pristine ng-valid ng-valid-required ng-touched" ng-model="EssCognosSetup.CognosDsConn">
      </div>
      <div class="form-group">
            <label class="pull-left">Cognos Ds User:</label>
      </div>
      <div class="form-group">
            <label class="pull-left">Cognos Ds Pwd:</label>
            <input type="text" class="form-control ng-pristine ng-valid ng-valid-required ng-touched" ng-model="EssCognosSetup.CognosDsPwd">
      </div>
      <div class="form-group">
            <label class="pull-left">Cognos Syuser:</label>
            <input type="text" class="form-control ng-pristine ng-valid ng-valid-required ng-touched" ng-model="EssCognosSetup.CognosSyuser">
      </div>
      <div class="form-group">
            <label class="pull-left">Cognos W2 Report Path:</label>
            <input type="text" class="form-control ng-pristine ng-valid ng-valid-required ng-touched" ng-model="EssCognosSetup.CognosW2ReportPath">
      </div>
      <div class="form-group">
            <label class="pull-left">Cognos Benefit Report Path:</label>
            <input type="text" class="form-control ng-pristine ng-valid ng-valid-required ng-touched" ng-model="EssCognosSetup.CognosBenefitReportPath">
      </div>

      <div class="form-group">
          <button class="btn btn-default" ng-click="EssCognosSetup.testCognosReportClick()">Test Payroll Connection</button>
          <button class="btn btn-default" ng-click="EssCognosSetup.essCognosSavePropertiesClick()">Save</button>
      </div>
  </div>

</div>
<span us-spinner spinner-key="spinner-1"></span>
