<div class="container">
  <div>
    <acme-navbar creation-date="main.creationDate"></acme-navbar>
  </div>


  <div class="jumbotron">
    <span ng-bind="EssHRConnectionSetup.simpleMessage"></span>
    <h1>HR Connection Setup</h1>
      <div class="form-group">
            <label class="pull-left">URL:</label>
            <input type="text" class="form-control ng-pristine ng-valid ng-valid-required ng-touched" ng-model="EssHRConnectionSetup.url" value="{{EssHRConnectionSetup.url}}">
      </div>
      <div class="form-group">
            <label class="pull-left">Username:</label>
            <input type="text" class="form-control ng-pristine ng-valid ng-valid-required ng-touched" ng-model="EssHRConnectionSetup.user" value="{{EssHRConnectionSetup.user}}">
      </div>
      <div class="form-group">
            <label class="pull-left">Password:</label>
            <input type="text" class="form-control ng-pristine ng-valid ng-valid-required ng-touched" ng-model="EssHRConnectionSetup.password" value="{{EssHRConnectionSetup.password}}">
      </div>
      <div class="form-group">
          <button class="btn btn-default" ng-click="EssHRConnectionSetup.testHRConnectionClick()">Test Connection</button>
      </div>
      <div class="form-group">
            <div class="col3-md">Result: {{EssHRConnectionSetup.result.status}}</div>
            <div class="col3-md">Message: {{EssHRConnectionSetup.result.message}}</div>
      </div>
  </div>


</div>
<span us-spinner spinner-key="spinner-1"></span>
